<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <p class="text-title">Bienvenido a</p><h1 class="text-primary">Clínica On-Line</h1>
        <p>Somos una clínica especializada en brindar atención médica de calidad.</p>
        <p>Ofrecemos una amplia gama de servicios y tratamientos para cuidar de tu salud y bienestar.</p>
        <div class="btn-group" role="group">
        <a routerLink="/login" class="btn btn-primary btn-lg">Ingresar</a>
        <a routerLink="/registro" class="btn btn-outline-info text-dark btn-lg">Registrase</a>
        </div>
    </div>
    </div>
</div>
<img class="img-1" src="../../../assets/bienvenido/bienvenido-1.png">
<img class="img-2" src="../../../assets/bienvenido/bienvenido-2.png">

